
<div class="pos-f-t header fixed-top">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md max-height">
  
    <a class="navbar-brand navbar-left" href="http://www.perfaware.com/">Perfaware</a>
    
    <div class="navbar-text text-primary">
        <p>Monitoring Dashboard</p>
    </div>
    
    <div class="nav navbar-nav navbar-right dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  Select a Report
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">EComm – US</a></li>
                  <li><a href="#">EComm – CAN</a></li>
                  <li><a href="#">EOMS</a></li>
              </ul>
    </div>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
</div>
