<section class="header-container">
    <app-header></app-header>
</section>
<section class="body-container">
    <section class="sidebar-container">
        <app-sidebar></app-sidebar>
    </section>

    <section class="center-container">
        <section class="minor-container">
            <app-center></app-center>
        </section>
        <section class="chart-container">
            <app-chart></app-chart>
        </section>
    </section>
    <div style="clear:both"></div>
</section>




